<script src="~/js/Cbo/Formulario.js" asp-append-version="true"></script>

<div class="container-fluid px-4 mt-4 mb-4">
    <div class="row justify-content-between">
        <div class="col-auto">
            <div class="row h-100 no-gutters align-items-center">
                <div class="col-12">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
        </div> 
    </div>
</div>
<div class="container-fluid px-4" id="containerBody">
    <div class="row">
        <div class="col-12">
            <div class="container-formulario shadow p-3 p-md-4">
                <input type="hidden" class="notClear" id="hdn_idCbo" name="hdn_idCbo" value="@ViewBag.id" />
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header text-white bg-dark-secundary">
                                <label class="sub-titulo-form">Dados</label>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-auto">
                                        <div class="form-group">
                                            <label for="txt_codigo">Código</label>
                                            <input type="text" class="form-control obg" name="txt_codigo" id="txt_codigo" maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg">
                                        <div class="form-group">
                                            <label for="txt_titulo">Título</label>
                                            <input type="text" class="form-control obg" name="txt_titulo" id="txt_titulo" maxlength="250" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-auto">
                                        <label for="cmb_status">Status</label>
                                        <select class="form-control obg" name="cmb_status" id="cmb_status">
                                            <option value="">Selecione</option>
                                            <option value="1">Ativo</option>
                                            <option value="0">Inativo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-3 text-center">
                        <input type="button" class="btn btn-success" name="btn_gravar" id="btn_gravar" value="Gravar" title="Gravar" />
                        <input type="button" class="btn btn-secondary" name="btn_voltar" id="btn_voltar" value="Voltar" title="Voltar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>