@{
    Layout = null; // Define que esta página não usará um layout
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    @await Html.PartialAsync("_HeadContent")
</head>
<body style="font-size:12px!important">
    <style>
        td{
            padding:3px;
        }
        .tbodyLancamentos tr > td:not(:first-child) {
            text-align: center;
        }

        .tbodyLancamentos tr > td {
            padding-bottom:4px;
        }
        .theadLancamentos tr > th {
            padding-bottom: 5px;
            padding-top: 5px;
        }
        .tbodyLancamentos tr > td:not(:last-child) {
            border-right: 1px solid black
        }

        .theadLancamentos tr > th {
            border: 1px solid black
        }

        .theadLancamentos tr > th {
            border: 1px solid black
        }

        .tfootLancamento tr {
            border-top: 1px solid black;
            border-bottom: 1px solid black
        }

        .tfootLancamento tr > td:not(:last-child) {
            border-right: 1px solid black
        }
    </style>
    <table style="width:100%;border:1px solid black;padding:10px">
        <tr>
            <td>FAMA SOLUTION CONSULTORIA DE NEGÓCIOS EIRELI</td>
            <td style="text-align:right">RECIBO DE PAGAMENTO DE SALÁRIO</td>
        </tr>
        <tr>
            <td>CNPJ: 28.157.564/0001-51</td>
            <td>Dezembro/2021</td>
        </tr>

        <tr style="border-top:1px solid black">
            <td colspan="2">
                <table style="width:100%">
                    <tr>
                        <td><b>Nome do Funcionário</b></td>
                        <td><b>CBO</b></td>
                        <td><b>CBO</b></td>
                    </tr>
                    <tr>
                        <td>SABRINA IARITSSA DOS SANTOS</td>
                        <td>521110</td>
                    </tr>
                    <tr>
                        <td>VENDEDOR INTERNO</td>
                        <td style="text-align:right">Admissão: 19/09/2022</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding: 0;padding-top: 5px">
                <table style="width:100%;">
                    <thead class="theadLancamentos">
                        <tr> 
                            <th style="border-left:0px!important">DESCRISÇÕES</th>
                            <th style="text-align:center;">REFERÊNCIAS</th>
                            <th style="text-align:center;">PROVENTOS</th>
                            <th style="text-align:center;border-right:0px!important">DESCONTOS</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyLancamentos"> 
                        <tr>
                            <td>Salário Mensalista</td>
                            <td>30,00</td>
                            <td>4.000,00</td>
                            <td></td>
                        </tr>  
                        <tr>
                            <td>Salário Mensalista</td>
                            <td>30,00</td>
                            <td>4.000,00</td>
                            <td></td>
                        </tr>  
                        <tr>
                            <td>Salário Mensalista</td>
                            <td>30,00</td>
                            <td>4.000,00</td>
                            <td></td>
                        </tr>  
                    </tbody>
                    <tfoot class="tfootLancamento">
                        <tr>
                            <td colspan="2">&nbsp;</td>
                            <td style="text-align:center">
                                <b>TOTAL DE PROVENTOS</b><br />
                                4.000,00
                            </td>
                            <td style="text-align:center">
                                <b>TOTAL DE DESCONTOS</b><br />
                                2.698,45
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                            <td style="text-align:center;padding-top:15px;padding-bottom:15px;">
                                <b>VALOR LÍQUIDO</b>
                            </td>
                            <td style="text-align:center">
                                3.293,01
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>

        <tr style="border-bottom:1px solid black">
            <td colspan="2">
                <table style="width:100%">
                    <tr>
                        <td style="text-align:center">
                            Salário Base<br />4.000,00
                        </td>
                        <td style="text-align:center">
                            Base INSS<br />4.000,00
                        </td>
                        <td style="text-align:center">
                            Base FGTS<br />4.000,00
                        </td>
                        <td style="text-align:center">
                            Valor FGTS<br />4.000,00
                        </td>
                        <td style="text-align:center">
                            Base IRRF<br />4.000,00
                        </td>
                    </tr> 
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <table style="width:100%">
                    <tr>
                        <td>
                            Declaro ter recebido o valor líquido deste recibo.<br />
                            &emsp;&emsp;/&emsp;&emsp;/&emsp;&emsp;&emsp;&emsp;
                            
                            Assinatura do funcionário:
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</body>
</html>

