 
<div class="container-fluid px-4 mt-4 mb-4">
    <div class="row justify-content-between">
        <div class="col-auto">
            <div class="row h-100 no-gutters align-items-center">
                <div class="col-12">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
        </div> 
    </div>
</div>
<div class="container-fluid px-4" id="containerBody">
    <div class="row">
        <div class="col-12">
            <div class="container-formulario shadow p-2 p-sm-3 p-md-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header text-white bg-dark-secundary">
                                <label class="sub-titulo-form">Dados</label>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl-4 col-xxl-2">
                                        <div class="form-group">
                                            <label for="txt_cpf">CPF</label>
                                            <input type="text" class="form-control obg" name="txt_cpf" id="txt_cpf" maxlength="15" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl-8 col-xxl-10">
                                        <div class="form-group">
                                            <label for="txt_razaoSocial">Nome</label>
                                            <input type="text" class="form-control obg" name="txt_razaoSocial" id="txt_razaoSocial" maxlength="250" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="txt_email">E-mail</label>
                                            <input type="text" class="form-control obg" name="txt_email" id="txt_email" maxlength="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header text-white bg-dark-secundary">
                                <label class="sub-titulo-form">Endereço</label>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-4 col-xxl-2">
                                        <div class="form-group">
                                            <label for="txt_cep">CEP</label>
                                            <input type="text" class="form-control obg" name="txt_cep" id="txt_cep" maxlength="9" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl-8 col-xxl-8">
                                        <div class="form-group">
                                            <label for="txt_endereco">Endereço</label>
                                            <input type="text" class="form-control obg" name="txt_endereco" id="txt_endereco" maxlength="250" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-4 col-xxl-2">
                                        <div class="form-group">
                                            <label for="txt_numeroResidencial">Número</label>
                                            <input type="text" class="form-control obg" name="txt_numeroResidencial" id="txt_numeroResidencial" maxlength="10" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-8 col-xxl-2">
                                        <div class="form-group">
                                            <label for="txt_uf">UF</label>
                                            <input type="text" class="form-control obg field_autoBusca" name="txt_uf" id="txt_uf"  data-field_type="Field_Cbo" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-xxl">
                                        <div class="form-group">
                                            <label for="txt_cidade">Cidade</label>
                                            <input type="text" class="form-control obg" name="txt_cidade" id="txt_cidade" maxlength="250" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-xxl">
                                        <div class="form-group">
                                            <label for="txt_bairro">Bairro</label>
                                            <input type="text" class="form-control obg" name="txt_bairro" id="txt_bairro" maxlength="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 my-3 text-center">
                        <input type="button" class="btn btn-success" name="btn_gravar" id="btn_gravar" value="Gravar" title="Gravar" />
                        <input type="button" class="btn btn-secondary" name="btn_voltar" id="btn_voltar" value="Voltar" title="Voltar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

        $('#btn_gravar').on('click', function () { fcn_gravar(); });
        $('#btn_voltar').on('click', function () { window.open('Consulta', '_self'); });
    });


    function fcn_gravar() {

        if (fcn_validaCampos('.container-formulario')) {

            console.log(fcn_pegarValores('.container-formulario'))

        }

    }
</script>